body{
	background: url("../img/scroll4b.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 80% 100vh;
	margin-top: 0 !important;


}

a{
	cursor:pointer;
}

img{
	width:auto;
	float:left;

}
img::after{
	clear:both;
}


p{
cursor:default;
}
p::before{
	clear:both;
}

.container{
	/*background: rgba(255, 255, 255, 0.6);*/
	padding: 10px;
	border-radius:10px;
	margin-top: 50px;
	width:100% !important;
	max-width: 820px !important;
}

.widthfull{
	width:100%;
	padding:10px;
}

.flex{
	display:flex;
	justify-content: flex-end;
	margin-top:10px;
}

.bg-dark {
    background-color: #343a40 !important;
    color: white;
}

h3{
  display:inline-block;
   margin: auto;
}


h3, table, td{
	cursor:default;

}
td {padding:5px !important;}

.pop-up{
	position:fixed;
	z-index:9;
	top:35vh;
	width:auto;
	height:auto;
	padding:20px;
	border-radius:10px;
	
}
.pop-up p{
	display:block;
	text-align:center;}

.buttons{
	display:flex;
	justify-content: start;
	margin-top:10px;
	margin:10px;
}

button{margin-right: 10px !important;}

#app{margin-left: 5vw !important;}

#savescroll{
	/*left:55vw;*/
	margin-left:80%;
}

.options{
	position:absolute;
	top:65vh;
}

table{width:90% !important;
}

.active{
	font-weight:bold;
}

.pagination{ position:fixed; top:80vh; }

.textinput{clear:both; margin:auto; }

#about{
display: flex;
justify-self:flex-end;
align-self: center;
}

#close-about{float:right;
display:inline-block;

}

.fade-enter-active  {
  transition: transform 0.3s;
    transform-origin:top;
}

.fade-leave-active  {
  transition: transform 0.3s;
    transform-origin:top;
}

.fade-enter, .fade-leave-to {
  transform:scaleY(0); 
  transform-origin:top;

}


.optionsdiv{display:flex;
	flex-flow:column;
justify-content: flex-start;
overflow: hidden;
}

@media(max-width:768px){
	img{width:100%;}
	#container-body{width:100% !important;}
	body{
		background-size: 100% 100vh;

}
}
